*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins';font-size: 22px;
}
header{
    height: 60px;
    width: 100vw;
    background-color:#F6F6F6 ;
    padding: 5px 0px;
    position: fixed;
    top:0;
    z-index:1;
}
.header{
    width: 80vw;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content:space-between ;
    border-bottom: solid 2px #D7ECC9;
}
.logo{
    display: flex;
    align-items: center;
    
    
}
.logo p{
    font-weight: bold;
}
.hi{
    height:30px;
    width: 30px;
}
.hi img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.nav{
    
}
.nav ul{
    display: flex;
    list-style: none;

}
.nav ul a{
    margin: 0px 15px;
    font-size:15px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    padding:5px 12px;
    border-radius: 8px;
    
}
.nav li:hover{
 background-color: lightbluez;    
}
button{
    background-color: black;
    border:none;
    color:white;
    padding:8px 15px;
    border-radius:20px;
    font-size:16px;
    font-family: poppins;
    cursor: pointer;
}
main{
    background-color:  #F6F6F6;     
}
.main{

    width: 70%;
    margin:auto;
    height: 500px;
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #c7eeef;
}
.hero-hi{
    display: flex;
    margin-bottom: 30px;
}
.hero-image{
    width:450px;
    height: 450px;
    background-color: #afe4e6;
    border-radius: 50%;
    border: 1px solid lightgrey;
    filter: drop-shadow(0 0 0.75rem rgb(232, 226, 228));
    z-index:0;
}
.image img{
    filter: drop-shadow(0 0 0.75rem rgb(27, 17, 19));
}
.hero-text p{
    margin-bottom: 20px;
}
section{
    background-color: #C2DEDF;
    padding: 50px;
}
.about{
    width: 80%;
    margin: auto;

}
.about p{
    margin-top: 30px;
    text-align: justify;
    width:80%;

}
article{
    
    background-color: #F6F6F6;
}
article h1{
    padding: 100px 0px;
    margin-left: 100px;
    font-weight: bolder;
}
#project{
    width: 95%;
    margin: auto;    
display: grid;
grid-template-columns: 1fr 1fr;
place-items: center;
}
.item{
    width:570px;
    height: 350px;
    border:1px soild gray;
    position: relative;
    margin-bottom: 100px;
}
.project_image{
    width:570px;
    height: 350px;
    margin-bottom: 50px;
    border-radius: 100px;

}
.project_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 10px;
}
.project-text{
    position: absolute;
    color:yellow;
    padding:20px;
    font-size: 15px;
    left:0;
    right: 0;
    bottom:0px;
    background-color: rgba(0, 0, 0, 0.8);
}
.item a 
{
    background-color: #afe4e6;;
    text-decoration: none;
    margin-left:30px ;
    padding:5px 10px;
    font-weight: 600;
    border-radius: 10px;
}
footer{
    height: 200px;
    background-color: #C2DEDF;
    padding: 50px;
}

footer h1{
    margin-left: 100px;
    margin-bottom: 50px;
}